:root {
    --primary-color: rgb(18, 47, 63);
    --secondary-color: rgb(227, 243, 253);
    --slate100: rgb(227, 243, 253);
    --slate300: rgb(154, 190, 213);
    --slate500: rgb(107, 148, 168);
    --slate700: rgb(78, 110, 126);
    --slate1000: rgb(13, 38, 53);
    --white: rgb(255, 255, 255);
    --red: rgb(215, 51, 40);
    --lime: rgb(215, 218, 47);
    --font-size-16: 16px;
    --em-08: 0.8em;
    --em-07: 0.7em;
    --em-14: 1.4em;
}

body {
    background-color: var(--secondary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--font-size-16);
}

.card-wrapper {
    max-width: 850px;
    height: 483px;
    border-radius: 1em;
    background-color: var(--white);
}

.card-first {
    position: absolute;
    height: 100%;
    width: calc(100% - 425px);
}

.card-second {
    width: 425px;
    background-color: var(--primary-color);
    height: 100%;
    right: 0;
    position: absolute;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-first-content {
    padding: 27.2px 20.8px;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

}

.card-title {
    color: var(--primary-color);
    font-size: 25.6px;
    font-weight: 700;
    line-height: 33px;
    margin: 0;
}

.normal-text {
    color: var(--slate500);
    font-size: 14.4px;
    font-weight: 600;
    line-height: 18px;
}

.clear-all-tag {
    cursor: pointer;
    text-decoration: underline;
}

.input-field-content {
    margin-bottom: 9.5px
}

.input-label {
    margin-block-end: 10.8px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.field-2 {
    flex: 1;
    max-width: 50%;
}

.input-container {
    display: flex;
    border: 1px solid var(--slate500);
    height: 45.375px;
    border-radius: 4px;

}

.input-unit {
    background-color: var(--secondary-color);
    padding: var(--em-07) var(--em-08);
    color: var(--slate700);
    font-weight: 700;
    font-size: var(--font-size-16);

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.border-left {
    border-radius: 4px 0 0 4px;

}

.border-right {
    border-radius: 0 4px 4px 0;
}

.input-field {
    width: 100%;
    border: none;
    padding: var(--em-07);
}

.input-field:focus {
    outline: none;
}

.radio-container {
    padding: var(--em-07) 9.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.radio-label {
    margin-block: 0px;
    width: 100%;
    padding-left: 35px;
}

.input-radio-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculate-btn {
    margin-top: 19.2px;
    background-color: var(--lime);
    border-radius: 1.5em;
    padding: 0.9em 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 100%;
}

.text-bold {
    line-height: 17px;
    font-weight: 900;
    font-size: var(--font-size-16);
}

p.text-bold {
    margin: 0;
}

.btn-icon {
    width: 20px;
    height: 20px;
    margin-right: var(--em-07);
}

.emp-res-img {
    margin: 0 auto;
    width: 160px;

    margin-bottom: 1em;
}

.emp-res-img img {
    width: 160px;
    height: 160px;
    vertical-align: middle;
    display: table-cell;
}

.res-desc {
    text-align: center;
    margin: var(--em-14) 0 0;
    color: var(--slate300)
}

.empty-result {
    transform: translateY(30%);
}

.radio-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radio-container input[type="radio"]+.radio-label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid var(--slate500);
    border-radius: 50%;
    background-color: var(--white);
    margin: 9.6px;
}


.radio-container input[type="radio"]:checked+.radio-label:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: var(--lime);
    border-radius: 50%;
    top: 13px;
    left: 13px;
}

.error-unit {
    background-color: var(--red);
    color: var(--white);
}

.error {
    color: var(--red);
    font-weight: 600;
    font-size: 0.7rem;
    margin: 1em 0 1.5em 0;
}

.hidden {
    display: none;
}

.error-border {
    border: 1px solid var(--red);
}

.result-section-container {
    padding: 28.8px;
    height: 100%;
}

.result-section-container.not-empty {
    text-align: start;
}

.result-section-container.not-empty>p {
    font-size: 0.9rem;
}

.input-focused {
    border: 1px solid var(--lime);
}

.input-focused-background {
    background-color: rgb(254, 255, 204);
}

.unit-focused {
    background-color: var(--lime);
}

.res-heading {

    font-size: var(--em-14);
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: var(--white);
}

.result-box {
    background-color: var(--slate1000);
    border-radius: 0.5em;
    border-top: 4px solid var(--lime);
    padding: 1.3em;
    margin-top: 1.8em;
}

.result-box p {
    color: var(--slate300);
    margin-bottom: 0.6em;
    font-size: 0.8rem;
}

.result-box>h1 {
    color: var(--lime);
    font-size: 2.8rem;
}

.result-box>h3 {
    color: var(--white);
    font-size: 1.3rem;
}

.result-box>hr {
    margin: 1.5em 0;
    border: 1px solid var(--slate100);
    opacity: 0.2;
}

@media screen and (min-width: 1488px) {

    #root {
        max-width: 100%;
        margin: 2rem;
    }

}

@media screen and (min-width: 790px) {
    .card-wrapper {
        display: flex;
        width: 90%;
        margin: 0 auto;
        transform: translateY(15%);
    }

    .calculate-btn {
        width: 70%;
        align-self: flex-start;
    }
}